<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Alta producte</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <style>
        body {
            margin: 3%;
        }
    </style>
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

    <h3>Alta producte</h3>
    <hr><br>
    <form method="POST" action="http://localhost:8000/api/products">

        <div class="input-group mb-3 w-25">
            <span class="input-group-text" id="nom">Nom</span>
            <input type="text" class="form-control" name="nom" value="">
        </div>
        <div class="input-group mb-3 w-25">
            <span class="input-group-text" id="preu">Preu</span>
            <input type="text" class="form-control" name="preu" value="">
        </div>
        <div class="input-group mb-3 w-25">
            <span class="input-group-text" id="descripcio">Descripció</span>
            <input type="text" class="form-control" name="descripcio" value="">
        </div>
        <button type="submit" name="alta" value="Desar" class="btn btn-dark">Desar</button>

    </form>
</body>

</html>
